@import "styles/scss";

.boxInput{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px dotted $black7;
  padding: 10px 0;
  margin-bottom: 8px;
  position: relative;
}
.itemInput {
  border: none;
  outline: none;
  background: none;
  font-size: $font24;
  color: $black7;
  padding: 0 10px 0 0;
  flex: 2;
  width: 100%;
}