@import "styles/scss";
.backGroundHome {
  background: url("./homeHead.png") no-repeat top center;
  background-size: 100% auto;
  background-attachment: fixed;
}
.backGroundHomeBlack {
  background: url("./Rectangle.png") no-repeat top center;
  background-size: 100% 443px;
  background-attachment: fixed;
}
