$white: #fff;
$whiteTwo: #ebebeb;
$primary: #237bff;
$black: #272a3c;
$blackTwo: #222222;
$blackThree: #161721;
$blackFour: #37474f;
$orange: #ff7600;
$green: #01cd78;
$greenTwo: #2ad28c;
$base: #e5e5e5;

$whiteLight: $white;
$whiteDark: $whiteTwo;
$whiteTextLight: $white;
$whiteTextDark: $whiteTwo;
$black10: $blackThree;
$black7: $blackTwo;
$black3: $black;
$black1: $blackFour;
$success: $green;
$successLight: $greenTwo;
