$font16: 1rem;
$font20: 1.25rem;
$font24: 1.5rem;
$font30: 1.875rem;
$font40: 2.5rem;
$font64: 3.75rem;

$fontI: $font16;
$fontII: $font20;
$fontIII: $font24;
$fontIV: $font30;
$fontV: $font40;
$fontVI: $font64;
