@import "scss";
@font-face {
  font-family: Kobin;
  src: url("../public/font/PeydaFont/peyda-light.ttf") format("truetype"),
    url("../public/font/PeydaFont/Peyda-Medium.ttf") format("truetype"),
    url("../public/font/PeydaFont/Peyda-Black.ttf") format("truetype"),
    url("../public/font/PeydaFont/Peyda-Bold.ttf") format("truetype"),
    url("../public/font/PeydaFont/Peyda-ExtraBold.ttf") format("truetype"),
    url("../public/font/PeydaFont/peyda-extralight.ttf") format("truetype"),
    url("../public/font/PeydaFont/Peyda-Regular.ttf") format("truetype"),
    url("../public/font/PeydaFont/Peyda-SemiBold.ttf") format("truetype"),
    url("../public/font/PeydaFont/Peyda-Thin.ttf") format("truetype");
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  background-color: $base;
}
* {
  direction: rtl;
  box-sizing: border-box;
  font-family: Kobin;
}
a {
  text-decoration: none;
}
button {
  outline: none;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}
#__next {
  width: 100%;
  height: 100%;
}
// ---------------------- class ------------------------------------ class ----------------------------
// ----------- flex -----------
.betweenCenterColumn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.betweenCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.startCenterColumn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.startColumn {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.centerColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.startCenter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.endCenter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
// ----------- width and height -----------
.wTextMarketing {
  width: 275px;
}
.wTextMarketingCEnter {
  width: 450px;
}
.wh100 {
  width: 100%;
  height: 100%;
}
.wBase {
  width: 100%;
  max-width: 1180px;
}
.w100 {
  width: 100%;
}
.w50 {
  width: 50%;
}
.w90 {
  width: 90%;
}
.h100 {
  height: 100%;
}
.h63 {
  height: 63px;
}
.h180 {
  height: 180px;
}
// ----------- bg -----------
.bgPrimary {
  background-color: $primary;
}
.bgWhite {
  background-color: $whiteLight;
}
.bgBlack {
  background-color: $black10;
}
.bgBase{
  background-color: $base;
}
// ----------- color -----------
.textWhite {
  color: $whiteLight;
}
.textOrange {
  color: $orange;
}
.textPrimary {
  color: $primary;
}
.textGreen {
  color: $green;
}
.textBlackLight {
  color: $black1;
}
.textBlack {
  color: $black10;
}
.textBlackDark {
  color: $black7;
}
// ----------- text-align -----------
.textRight {
  text-align: right;
}
.textJustify {
  text-align: justify;
}
.textCenter {
  text-align: center;
}
// ----------- line-height -----------
.lineH61 {
  line-height: 61px;
}
.lineH40{
  line-height: 40px;
}
// ----------- font -----------
.font16 {
  font-size: $fontI;
}
.font20 {
  font-size: $fontII;
}
.font24 {
  font-size: $fontIII;
}
.font30 {
  font-size: $fontIV;
}
.font40 {
  font-size: $fontV;
}
.font64 {
  font-size: $fontVI;
}
// ----------- weight -----------
.weight400 {
  font-weight: 400;
}
.weight600 {
  font-weight: 600;
}
.weight700 {
  font-weight: 700;
}
.weight800 {
  font-weight: 800;
}
// ----------- index -----------
.index100 {
  z-index: 100;
}
.index1000 {
  z-index: 1000;
}
// ----------- padding -----------
.p60 {
  padding: 60px;
}
.p45 {
  padding: 45px;
}
.pbt40 {
  padding: 40px 0;
}
.pbt20{
  padding-bottom: 20px;
  padding-top: 20px;
}
.p15 {
  padding: 15px;
}
.prl20 {
  padding-right: 20px;
  padding-left: 20px;
}
.pNone{
  padding: 0;
}
// ----------- margin -----------
.mr10{
  margin-right: 10px;
}
.mr25 {
  margin-right: 25px;
}
.mr-45{
  margin-right: -45px;
}
.mr50 {
  margin-right: 50px;
}
.ml20 {
  margin-left: 20px;
}
.mbt20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mb20{
  margin-bottom: 20px;
}
.mb30{
  margin-bottom: 30px;
}
.mbt10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mt10 {
  margin-top: 10px;
}
.mt5 {
  margin-top: 5px;
}
.mt20 {
  margin-top: 20px;
}
.m45 {
  margin: 45px;
}
.mt100 {
  margin-top: 100px;
}
.mb100 {
  margin-bottom: 100px;
}
.mText {
  margin: 0 1px;
}
.mNone {
  margin: 0;
}
.mt0 {
  margin-top: 0;
}
.mb0 {
  margin-bottom: 0;
}
.m0 {
  margin: 0;
}
.mMain {
  margin-top: 155px;
}
// ----------- overflow -----------
.hidden {
  overflow: hidden;
}
.hiddenX {
  overflow-x: hidden;
}
// ----------- radius -----------
.radius20 {
  border-radius: 20px;
}
.radius42 {
  border-radius: 42px;
}
.radiusLeft42 {
  border-radius: 42px 0 0 42px;
}

// ----------- border -----------
.borderNone {
  border: none;
}
// ----------- shadow -----------
.shadow {
  box-shadow: 0 31px 64px -14px rgba(0, 0, 0, 0.11);
}
.shadowBtn {
  box-shadow: 0 4px 24px -10px $primary;
}
// ----------- position -----------
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.right0{
  right: 0;
}
.absoluteCenter {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
// ----------- list-style -----------
.styleNone{
  list-style: none;
}
// ----------- class -----------
.boxSection {
  @extend .wh100;
  @extend .startCenterColumn;
  @extend .p45;
  @extend .radius42;
  @extend .shadow;
}
.textHeadingBig {
  @extend .font64;
  @extend .weight700;
}
.textParagraphHome {
  @extend .font30;
  @extend .lineH61;
}
.underLine {
  position: absolute;
  bottom: -35px;
  right: 0;
}
.underLineToman {
  position: absolute;
  bottom: -15px;
  right: 0;
}
.btn {
  border: none;
  outline: none;
  font-size: $fontII;
  @extend .weight600;
}
.inputNumber {
  background-color: $black3;
  border: none;
  outline: none;
  color: $whiteLight;
  font-size: $fontII;
  @extend .weight600;
  text-align: right;
  width: 275px;
}
.vectorVideoIcon {
  position: absolute;
  top: 60px;
  left: -130px;
  width: 609px;
  height: 561px;
}
.videoIcon {
  position: absolute;
  top: -40px;
  left: -130px;
}
.vectorSound {
  position: absolute;
  bottom: -60px;
  right: -155px;
}
.marketingIcon {
  position: absolute;
  bottom: -85px;
  right: -125px;
}
.networkIcon {
  position: absolute;
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
}
.homePage {
  position: absolute;
  top: -5px;
  left: 0;
}
.coinIcon {
  position: absolute;
  top: -110px;
  right: -10%;
  left: -10%;
}
.sellIcon {
  position: absolute;
  bottom: -125px;
  left: -155px;
  transform: scale(0.8);
}
.backgroundVideo {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.textOne {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.textTwo {
  position: absolute;
  top: -1%;
  right: 50%;
  transform: translateX(50%);
}
.textThree {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.textFour {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
}
.aboutIcoKobin{
  position: absolute;
  top: -35px;
}
@media screen and (max-width: 1221px) {
  .wBase {
    padding: 0 20px;
  }
}
